<dl class="sub-nav">
  <dt>Filter:</dt>
  <dd><%= link_to 'Released', movies_path %></dd>
  <dd><%= link_to 'Upcoming', filtered_movies_path(:upcoming) %></dd>
  <dd><%= link_to 'Recent', filtered_movies_path(:recent) %></dd>
  <dd><%= link_to 'Hits', filtered_movies_path(:hits) %></dd>
  <dd><%= link_to 'Flops', filtered_movies_path(:flops) %></dd>
</dl>
<ul id="movies">
  <% @movies.each do |movie| %>
    <li>
      <article class="movie panel" id="<%= dom_id(movie) %>">
        <header>
          <%= image_tag movie.image.url(:medium) %>
          <h2><%= link_to movie.title, movie %> (<%= movie.released_on.year %>)</h2>
          <h3><%= movie.cast %></h3>
        </header>
        <p>
          <%= truncate(movie.description, length: 150, separator: ' ') %>
        </p>
        <table>
          <tr>
            <th>Rating</th>
            <td><%= movie.rating %></td>
          </tr>
          <tr>
            <th>Duration</th>
            <td><%= movie.duration %></td>
          </tr>
          <tr>
            <th>Total Gross</th>
            <td><%= format_total_gross(movie) %></td>
          </tr>
        </table>
        <footer>
        </footer>
      </article>
    </li>
  <% end %>
</ul>
